# Week 1 Homework

In this homework we'll prepare the environment and practice with terraform and SQL

## Question 1. Google Cloud SDK

Install Google Cloud SDK. What's the version you have?

To get the version, run gcloud --version

In [1]:
!gcloud --version

Google Cloud SDK 369.0.0
bq 2.0.72
core 2022.01.14
gsutil 5.6

## Question 2. Terraform

Now install terraform and go to the terraform directory (week_1_basics_n_setup/1_terraform_gcp/terraform)

After that, run

    terraform init
    terraform plan
    terraform apply

Apply the plan and copy the output (after running apply) to the form.

Answer:
```
google_bigquery_dataset.dataset: Creating...
google_storage_bucket.data-lake-bucket: Creating...
google_bigquery_dataset.dataset: Creation complete after 2s [id=projects/model-overview-339109/datasets/trips_data_all]
google_storage_bucket.data-lake-bucket: Creation complete after 3s [id=dtc_data_lake_model-overview-339109]

Apply complete! Resources: 2 added, 0 changed, 0 destroyed.
```

## Prepare Postgres

Run Postgres and load data as shown in the videos

We'll use the yellow taxi trips from January 2021:

```
wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2021-01.csv
```

You will also need the dataset with zones:

```
wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
```

Download this data and put it to Postgres.

## Question 3. Count records

How many taxi trips were there on January 15?

Consider only trips that started on January 15.

In [1]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
conn = engine.connect()

pd.read_sql_query('''
    SELECT COUNT(*) AS total_trips
      FROM yellow_taxi_trips
     WHERE tpep_pickup_datetime::date = '2021-01-15'::date;
''', conn)

   total_trips
0        53024

## Question 4. Largest tip for each day

Find the largest tip for each day. On which day it was the largest tip in January?

Use the pick up time for your calculations.

(note: it's not a typo, it's "tip", not "trip")

In [2]:
pd.read_sql_query('''
      WITH trips as (SELECT tpep_pickup_datetime::date AS trip_date,
                            tip_amount
                       FROM yellow_taxi_trips)
    SELECT trip_date,
           MAX(tip_amount) AS max_tips
      FROM trips
     GROUP BY trip_date
     ORDER BY max_tips DESC
     LIMIT 1;
''', conn)

    trip_date  max_tips
0  2021-01-20   1140.44

## Question 5. Most popular destination

What was the most popular destination for passengers picked up in central park on January 14?

Use the pick up time for your calculations.

Enter the zone name (not id). If the zone name is unknown (missing), write "Unknown"

In [4]:
zones = pd.read_csv('taxi+_zone_lookup.csv')
zones.to_sql('locations', conn, if_exists='replace', index=False)

265

In [13]:
pd.read_sql_query('''
      WITH trips AS (SELECT tpep_pickup_datetime::date AS trip_date,
                            s."Zone" AS start,
                            d."Zone" AS dest
                       FROM yellow_taxi_trips t INNER JOIN locations s ON t."PULocationID" = s."LocationID"
                                                INNER JOIN locations d ON t."DOLocationID" = d."LocationID")
    SELECT dest,
           COUNT(*) AS dest_count
      FROM trips
     WHERE trip_date = '2021-01-14'::date
       AND start = 'Central Park'
     GROUP BY dest
     ORDER BY dest_count DESC
     LIMIT 1;
''', conn)

                    dest  dest_count
0  Upper East Side South          97

## Question 6. Most expensive locations

What's the pickup-dropoff pair with the largest average price for a ride (calculated based on total_amount)?

Enter two zone names separated by a slash

For example:

"Jamaica Bay / Clinton East"

If any of the zone names are unknown (missing), write "Unknown". For example, "Unknown / Clinton East".

In [15]:
pd.read_sql_query('''
    SELECT CONCAT(s."Zone", ' / ', d."Zone") AS pudo,
           SUM(total_amount) / COUNT(*) AS avg_price
      FROM yellow_taxi_trips t INNER JOIN locations s ON t."PULocationID" = s."LocationID"
                               INNER JOIN locations d ON t."DOLocationID" = d."LocationID"
     GROUP BY pudo
     ORDER BY avg_price DESC
     LIMIT 1;
''', conn)

               pudo  avg_price
0  Alphabet City /      2292.4