# Week 1 Homework

In this homework we'll prepare the environment and practice with terraform and SQL

## Question 1. Google Cloud SDK

Install Google Cloud SDK. What's the version you have?

To get the version, run gcloud --version

In [1]:
!gcloud --version

Google Cloud SDK 369.0.0
bq 2.0.72
core 2022.01.14
gsutil 5.6

## Question 2. Terraform

Now install terraform and go to the terraform directory (week_1_basics_n_setup/1_terraform_gcp/terraform)

After that, run

    terraform init
    terraform plan
    terraform apply

Apply the plan and copy the output (after running apply) to the form.

Answer:
```
google_bigquery_dataset.dataset: Creating...
google_storage_bucket.data-lake-bucket: Creating...
google_bigquery_dataset.dataset: Creation complete after 2s [id=projects/model-overview-339109/datasets/trips_data_all]
google_storage_bucket.data-lake-bucket: Creation complete after 3s [id=dtc_data_lake_model-overview-339109]

Apply complete! Resources: 2 added, 0 changed, 0 destroyed.
```

## Prepare Postgres

Run Postgres and load data as shown in the videos

We'll use the yellow taxi trips from January 2021:

```
wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2021-01.csv
```

You will also need the dataset with zones:

```
wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
```

Download this data and put it to Postgres.

## Question 3. Count records

How many taxi trips were there on January 15?

Consider only trips that started on January 15.

In [1]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
conn = engine.connect()

pd.read_sql_query('''
    SELECT COUNT(*) AS total_trips
      FROM yellow_taxi_trips
     WHERE tpep_pickup_datetime::date = '2021-01-15'::date;
''', conn)

   total_trips
0        53024